# {{ ansible_managed }}
#
#  Configuration file for ferm(1).
#

#include global functions
@include '{{ ferm_functions_dir }}/';

domain (ip ip6) {
    table filter {
        chain INPUT {
            policy DROP;

{% if ferm_pre_invalid_rules is sameas true %}
            #include input filter rules before the invalid rule
            @include '{{ ferm_filter_input_pre_invalid_dir }}/';
{% endif %}
            # connection tracking
            mod state state INVALID DROP;
            mod state state (ESTABLISHED RELATED) ACCEPT;

            # allow local packet
            interface lo ACCEPT;

            # respond to ping
            proto icmp ACCEPT;

{% if ferm_sshd_rule %}
            # allow SSH connections
            {% if ferm_sshd_interface is defined %}interface {{ ferm_sshd_interface }} {% endif %}proto tcp {% if ferm_sshd_allowed_from is defined and ferm_sshd_allowed_from %}saddr ({{ ferm_sshd_allowed_from | join (' ')}}) {% endif %}dport ssh ACCEPT;
{% endif %}
            #include input filter rules
            @include '{{ ferm_filter_input_dir }}/';
        }
        chain OUTPUT {
            policy ACCEPT;

{% if ferm_pre_invalid_rules is sameas true %}
            #include output filter rules before the invalid rule
            @include '{{ ferm_filter_output_pre_invalid_dir }}/';
{% endif %}
            # connection tracking
            #mod state state INVALID DROP;
            mod state state (ESTABLISHED RELATED) ACCEPT;

            #include output filter rules
            @include '{{ ferm_filter_output_dir }}/';
        }
        chain FORWARD {
            policy DROP;

{% if ferm_pre_invalid_rules is sameas true %}
            #include forward filter rules before the invalid rule
            @include '{{ ferm_filter_forward_pre_invalid_dir }}/';
{% endif %}
            # connection tracking
            mod state state INVALID DROP;
            mod state state (ESTABLISHED RELATED) ACCEPT;

            #include forward filter rules
            @include '{{ ferm_filter_forward_dir }}/';
        }
    }
    table nat {
        chain PREROUTING  {
            #include prerouting nat rules
            @include '{{ ferm_nat_prerouting_dir }}/';
	    }
	    chain INPUT {
            #include input nat rules
            @include '{{ ferm_nat_input_dir }}/';
	    }
	    chain OUTPUT {
            #include output nat rules
            @include '{{ ferm_nat_output_dir }}/';
	    }
	    chain POSTROUTING {
            #include postrouting nat rules
            @include '{{ ferm_nat_postrouting_dir }}/';
	    }
    }
    table raw {
        chain PREROUTING  {
            #include prerouting raw rules
            @include '/etc/ferm/raw/prerouting/';
	    }
	    chain OUTPUT {
            #include output raw rules
            @include '/etc/ferm/raw/output/';
	    }
    }
}
