{{ ansible_managed | comment }}

{% for rule in rule_input_rules %}
{{ rule.description | default('no description') | comment }}
protocol {{ rule.protocol | default('tcp') }}
{% if rule.from | default(false) %}
saddr (
    {{- rule.from | join(' ') -}}
)
{% endif %}
{% if rule.port | default(false) %}
dport (
    {{- rule.port | join(' ') -}}
)
{% endif %}
{{ rule.action | default('ACCEPT') | upper }};

{% endfor %}
